@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Montserrat Regular";
}
